<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /OnThiTracNghiem/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1
</IfModule>
